@charset "utf-8"
@import "../node_modules/bulma/bulma.sass"

.columns
  &.is-fullheight
    min-height: calc(100vh - ( #{$navbar-height} - .75rem ) )
    max-height: calc(100vh - ( #{$navbar-height} - .75rem ) )
    height: calc(100vh - ( #{$navbar-height} - .75rem ) )
    display: flex
    flex-direction: row
    justify-content: stretch
    .column
      overflow-y: auto

// Loader https://cssninja.io/blog/post/simple-loader-bulma

.loader-wrapper
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  background: #fff
  opacity: 0
  z-index: -1
  transition: opacity .3s
  display: flex
  justify-content: center
  align-items: center
  border-radius: 6px

  .loader
    height: 80px
    width: 80px
  &.is-active
    opacity: 1
    z-index: 1

.is-loading
  position: relative